<% include ./partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <h1> Welcome to Camps !</h1>
        <p>Select the best campsites picked by the best of the experts in our team ! Have a Great Vacation !</p>
        <p>
            <a class="btn btn-primary btn-large" href="/camps/new">Add New Camps</a>
            <a class="btn btn-primary btn-large" href = "/camps">View Campgrounds</a>
        </p>
        
    </header>

</div>

<% include ./partials/footer.ejs %>