<% include ./partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <h1> Welcome to New Camp Creation Portal !</h1>
        <a class="btn btn-primary btn-large" href="/">Homepage</a>
    </header>
    <div class = "row">
        <div class ="col-md-4 col-sm-6">
            <form action = "/camps" method="POST">
                <div class="form-group">
                    <label>CampName:</label>
                    <input class="form-control" type="text" name = "c[name]" placeholder="Name">
                </div>

                <div class="form-group">
                    <label>Url:</label>
                    <input class="form-control" type="text" name = "c[url]" placeholder="url">
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" name = "c[description]" placeholder="Description"></textarea>
                </div>

                <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-large">
                </div>

            </form>
        </div>
    </div>
</div>


<% include ./partials/footer.ejs %>